.btn {
  padding: 0.5rem 1.5rem;
  background-color: var(--bg-secondary);
  color: var(--text-priamry);
  box-shadow: 0 0 2.5px 1.25px var(--clr-shadow);
  border: 1px solid var(--bg-primary);
  font-size: var(--text-s);
  text-transform: capitalize;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.btn:hover {
  background-color: var(--bg-primary);
}
