.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: var(--spacing-s);
}

.card {
  background-color: var(--bg-secondary);
  /* height: 400px; */
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.card-img {
  object-fit: cover;
  object-position: center;
  height: 50%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.card-desc {
  padding: var(--spacing-xs);
}

.card-heading {
  font-size: var(--text-l);
  font-weight: var(--fw-bold);
  margin-bottom: auto;
}

.card-details {
  margin-top: auto;
}

@media (min-width: 640px) {
  .card-list {
    gap: var(--spacing-s);
  }
}
