.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  grid-template-rows: auto;
  gap: var(--spacing-m);
  justify-content: center;
}

.card {
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  flex: 1;
  box-shadow: var(--box-shadow);
}

.card-img {
  object-fit: cover;
  object-position: center;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width: 100%;
  height: 160px;
}

.card-desc {
  padding: 2rem 1rem;
  border-top: 2px solid var(--bg-primary);
}

.card-heading {
  font-size: var(--text-l);
  font-weight: var(--fw-bold);
  margin-bottom: auto;
}

.card-text {
  font-size: var(--text-base);
  font-weight: var(--fw-semibold);
}

.card-details {
  margin-top: auto;
}
