.form {
  display: grid;
}

.form-control {
  background-color: var(--bg-secondary);
  font-size: 1rem;
  font-family: var(--ff-primary);
  line-height: 1.5;
  color: var(--text-primary);
  margin-bottom: var(--spacing-s);
  padding: 1rem 1.5rem;
  border: 1px solid var(--bg-primary);
  appearance: none;
  outline: var(--bg-primary);
}

.search-box {
  width: 100%;
  max-width: 400px;
}

.select-box {
  border: none;
  appearance: none;
  padding: 1rem 1.5rem;
  width: 210px;
}

@media (min-width: 640px) {
  .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
