* {
  box-sizing: border-box;
}

:root {
  /* 
  - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
  - Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
  - Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
  - Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
  - Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
  - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)
   */

  --bg-primary: hsl(207, 26%, 17%);
  --bg-secondary: hsl(209, 23%, 22%);

  --text-dark: hsl(200, 15%, 8%);
  --text-light: hsl(0, 0%, 100%);

  --clr-neutral: hsl(0, 0%, 52%);

  --spacing-l: 8rem;
  --spacing-m: 4rem;
  --spacing-s: 2rem;
  --spacing-xs: 1rem;
  --spacing-base: 0.5rem;

  --text-l: 1rem;
  --text-base: 0.875rem;
  --text-s: 0.75rem;

  --fw-bold: 800;
  --fw-semibold: 600;
  --fw-light: 300;

  --ff-primary: 'Nunito Sans', sans-serif;

  color-scheme: light dark;
  background-color: var(--bg-primary);
  color: var(--text-light);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--ff-primary);
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-weight: var(--fw-bold);
}

p {
  line-height: 1.6;
  font-weight: var(--fw-semibold);
}

p span {
  font-weight: var(--fw-light);
  margin-left: 0.125rem;
}

a {
  text-decoration: none;
  font-family: var(--ff-primary);
  font-size: var(--text-s);
  color: inherit;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-primary: hsl(0, 0%, 95%);
    --bg-secondary: hsl(0, 0%, 100%);

    color: var(--text-dark);
    background-color: var(--bg-primary);
  }
}

.border {
  display: flex;
  gap: 0.5rem;
}
