* {
  box-sizing: border-box;
}

:root {
  /* 
  - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
  - Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
  - Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
  - Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
  - Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
  - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)
   */

  --bg-primary: hsl(207, 26%, 17%);
  --bg-secondary: hsl(209, 23%, 22%);

  --text-dark: hsl(200, 15%, 8%);
  --text-light: hsl(0, 0%, 100%);

  --clr-neutral: hsl(0, 0%, 52%);

  --spacing-l: 9rem;
  --spacing-m: 5rem;
  --spacing-s: 2rem;
  --spacing-xs: 1rem;
  --spacing-base: 0.25rem;

  --heading-6: 2.5rem;
  --heading-5: 2.25rem;
  --heading-4: 2rem;
  --heading-3: 1.5rem;
  --heading-2: 1.25rem;
  --heading-1: 1.125rem;
  --text-l: 1.5rem;
  --text-m: 1.25rem;
  --text-base: 1rem;
  --text-s: 0.875rem;
  --text-xs: 0.75rem;

  --fw-bold: 800;
  --fw-semibold: 600;
  --fw-light: 300;

  --ff-primary: 'Nunito Sans', sans-serif;

  color-scheme: light dark;
  background-color: var(--bg-primary);
  color: var(--text-light);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--ff-primary);
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

p {
  line-height: 1.6;
}

.form {
  padding: var(--spacing-s) 0;
  margin-bottom: var(--spacing-xs);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-control {
  background-color: var(--bg-secondary);
  padding: var(--spacing-xs);
  margin-bottom: var(--spacing-s);
  border-radius: var(--spacing-base);
  border: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-secondary: hsl(0, 0%, 100%);
    --bg-primary: hsl(0, 0%, 98%);

    color: var(--text-dark);
    background-color: var(--bg-primary);
  }
}

@media (min-width: 640px) {
  .form {
    flex-direction: row;
  }
}
